source/NUA_WS_Integration Matrix/NUA.Solution.Services.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NUA.Solution.Services.ELSA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceELSA_CreateApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateApplication" />
  </wsdl:message>
  <wsdl:message name="IServiceELSA_CreateApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceELSA_UpdateApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplication" />
  </wsdl:message>
  <wsdl:message name="IServiceELSA_UpdateApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceELSA_FinalInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceELSA_FinalInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceELSA">
    <wsdl:operation name="CreateApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceELSA/CreateApplication" message="tns:IServiceELSA_CreateApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceELSA/CreateApplicationResponse" message="tns:IServiceELSA_CreateApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceELSA/UpdateApplication" message="tns:IServiceELSA_UpdateApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceELSA/UpdateApplicationResponse" message="tns:IServiceELSA_UpdateApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceELSA/FinalInfo" message="tns:IServiceELSA_FinalInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceELSA/FinalInfoResponse" message="tns:IServiceELSA_FinalInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IServiceELSA" type="tns:IServiceELSA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateApplication">
      <soap:operation soapAction="http://tempuri.org/IServiceELSA/CreateApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplication">
      <soap:operation soapAction="http://tempuri.org/IServiceELSA/UpdateApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceELSA/FinalInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>